<button class="add-column-button" data-add-column-button>Add Column</button>

<script>
    import NEW_CELL from './NewCell';
    import NEW_COLUMN_HEADER from './NewColumnHeader';
    import NEW_DELETE_BUTTON from './NewDeleteButton';

    document.querySelectorAll('[data-add-column-button]').forEach((button) => {
        button.addEventListener('click', () => {
            const table = document.querySelector(
                '[data-edition-table]'
            ) as HTMLTableElement;
            const newColumnIndex = table.tHead?.rows.item(0)!.cells.length;

            const heading = document.createElement('th');
            heading.dataset.tableColumn = `${newColumnIndex}`;
            heading.innerHTML = NEW_COLUMN_HEADER;
            table.tHead!.rows.item(0)?.appendChild(heading);

            const tBody = table.tBodies.item(0) as HTMLTableSectionElement;
            for (let i = 0; i < tBody.rows.length; i++) {
                const row = tBody.rows.item(i) as HTMLTableRowElement;
                const cell = row.insertCell();
                cell.dataset.tableColumn = `${newColumnIndex}`;
                cell.innerHTML = NEW_CELL;
            }

            const deleteButtonCell = table.tFoot!.rows.item(0)!.insertCell();
            deleteButtonCell.innerHTML = NEW_DELETE_BUTTON;
            deleteButtonCell.dataset.tableColumn = `${newColumnIndex}`;
        });
    });
</script>
