<!doctype html>
<html lang="en" spellcheck="false">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Hitman Edition Creator</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    :root {
        font-family: Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
        font-size: 1.1em;

        color-scheme: light dark;
        color: #ffffff;
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html,
    *::before,
    *::after {
        box-sizing: border-box;
    }
</style>
