<!doctype html>
<html lang="en" spellcheck="false">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Hitman Edition Creator</title>
        <meta property="og:title" content="Hitman Edition Creator" />
        <meta
            name="description"
            content="You think IOI's 'Comparison Grid' isn't absurd enough? Then show 'em how it's done!"
        />
        <meta
            property="og:description"
            content="You think IOI's 'Comparison Grid' isn't absurd enough? Then show 'em how it's done!"
        />
        <meta
            property="og:image"
            content="https://hitman.detta.dev/example.jpg"
        />
        <meta name="twitter:card" content="summary_large_image" />
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        font-family: Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
        font-size: 1.1em;

        color-scheme: light dark;
        color: #ffffff;
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    button img {
        pointer-events: none;
    }
</style>
